name: create-github-release

on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
      - '*.*.*' # Push events to matching semantic version tags 1.0.0, etc.

jobs:
  semver-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4.1.1
      - name: Check SemVer tag
        run: |
          TAG_NAME=$(git tag --points-at ${{ github.sha }})
          if [[ "$TAG_NAME" =~ ^[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
            echo "Valid SemVer tag: $TAG_NAME"
          else
            echo "Invalid SemVer tag: $TAG_NAME"
            exit 1
          fi
  build:
    name: Create GitHub Release
    runs-on: ubuntu-latest
    needs: semver-check
    steps:
      - name: Checkout code
        uses: actions/checkout@v4.1.1
      - name: Create Release
        id: create_release
        uses: actions/create-release@latest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # This token is provided by Actions, you do not need to create your own token
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          draft: false
          prerelease: false
